{% extends 'base.html' %}

{% block title %}Search By Speciman{% endblock %}
{% include 'header.html' %}
{% include 'menu.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2>Display <b>Speciman Details</b></h2>
                <table class="table table-hover table-dark">
                    <tr>
                        <th>Speciman Name</th>
                    </tr>
                    {% for row in data['results']['bindings'] %}
                     <tr>
                        <td><input type="checkbox" name="chk"></td>
                        <td>{{row['label']['value']}}</td>
                         <td>

                             <a class="btn btn-outline-success my-2 my-sm-0" href="{{ url_for('MoreInfoOfSpeciman') }}" >View More</a></td>
                    </td>
                    </tr>
                    {% endfor %}
                </table>
                <br>
                <a class="btn btn-outline-success my-2 my-sm-0" href="{{ url_for('MoreInfoOfSpeciman') }}" >Request specimens or datasets</a>
        </div>
    </div>
</div>
</div>

{% endblock %}



